#cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 550px;
    margin: auto;
}

#cards img{
    width: 150px;
    height: 150px;
    margin: 10px;    
    border-radius: 75px;
    border: 2px dashed #000;
    transition: all 2s;
}

img:hover{
    box-shadow: 0px 0px 10px #000; 
}