form{
    font-family: "Arial";
}
input, button{
    border-radius: 5px;
    margin-bottom: 10px;
    height: 25px;    
    font-size: 12pt;
    padding-left: 5px;
}
input:hover, input:focus{
    border-color: #000066;
    box-shadow: 5px 0px 9px #ccc;        
}
.exemplo{
    border-color: blue;
    width: 300px;
    margin-bottom: 30px;
}
.fundo{
    background-color: coral;
    padding: 20px;
    width: 300px;
    border-radius: 8px;1
}
