#conteudo,
#opc1 {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    width: 350px;
}

#texto {
    width: 320px;
    background-color: #e5eeff;
    padding: 20px;
    display: none;
}